* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    min-height: 100vh;
    padding: 20px;
}

nav {
    display: grid;
    align-items: center;
    grid-template-columns: 2.5fr 1fr 2.5fr;
}

.welcome {
    font-size: 20px;
    font-weight: 500;
}

.logo {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 80px;
}

.login {
    text-align: right;
    &__input {
        border: none;
        outline: none;
        padding: 5px 10px;
        font-size: 16px;
        font-family: inherit;
        text-align: center;
        width: 120px;
        border-radius: 20px;
        margin-right: 10px;
        color: inherit;
        border: 1px solid #fff;
        transition: all 0.3s;
        &:focus {
            border: 1px solid #ccc;
        }
        &::placeholder {
            color: #bbb;
        }
    }
    &__btn {
        outline: none;
        border: none;
        background: none;
        font-size: 22px;
        color: inherit;
        cursor: pointer;
        transition: all 0.3s;
    }
}

.app {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 140px) auto;
    gap: 20px;
    opacity: 0;
    transition: all 2s;
}

.saldo {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    &__label {
        font-size: 22px;
        font-weight: 500;
    }
    &__data {
        color: #888;
    }
    &__valor {
        font-size: 40px;
    }
}

.movimentos {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: scroll;
    &__item {
        padding: 15px 30px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
    }
    &__tipo {
        min-width: 110px;
        padding: 5px 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        border-radius: 15px;
        margin-right: 20px;
        &--entrada {
            background-image: linear-gradient(to top left, #39b385, #9be15d);
        }
        &--saida {
            background-image: linear-gradient(to top left, #e52a5a, #ff585f);
        }
    }
    &__data {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: #666;
    }
    &__valor {
        font-size: 22px;
        margin-left: auto;
    }
}

/* SUMÁRIO */
.sumario {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 5px;
    &__label {
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 10px;
    }
    &__valor {
        font-size: 22px;
        margin-right: 30px;
        &--entrada, &--rendimento {
            color: #66c873;
        }
        &--saida {
            color: #f5465d;
        }
    }
}

.btn--ordenar {
    outline: none;
    margin-left: auto;
    border: none;
    background: none;
    font-weight: 500;
    cursor: pointer;
}

.operacao {
    border-radius: 10px;
    padding: 20px 30px;
    color: #333;
    &--transferir {
        background-image: linear-gradient(to top left, #ffb003, #ffcb03);
    }
    &--emprestar {
        background-image: linear-gradient(to top left, #39b385, #9be15d);
    }
    &--encerrar {
        background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    }
}

h2 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
    .form__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, .4);
        font-family: inherit;
        font-size: 16px;
        text-align: center;
        color: #333;
        padding: 5px 10px;
        border-radius: 10px;
        transition: all 250ms;
        &:focus {
            background-color: rgba(255, 255, 255, .6);
        }    
    }
    &__label {
        font-size: 14px;
        text-align: center;
        &--emprestar {
            grid-row: 2;
        }
    }
    &__btn {
        border: none;
        border-radius: 10px;
        font-size: 22px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, .8);
        }
    }
    &--emprestar {
        grid-template-columns: 2.5fr 1fr 2.5fr;
    }
}

.timer {
    margin-top: 10px;
    text-align: right;
}